
.messageBox {
  background: #fff;
  min-height: 100px;
  max-width: 40%;
  width: 500px;
  position: fixed;
  top: 30px;
  right: 100px;
  padding: 5px;
  font-size: 12px;
  word-wrap: break-word;
}

.squareinp {
  width: 30px;
  min-width: 30px;
  min-height: 30px;
  background: #ffff;
  text-align: center;
}
.square-sep {
  border-top: 4px solid black;
}

.square-septd {
  border-left: 4px solid black;
}


.bg-white{
  background-color: #ffff !important ;
}

.bg-aqua{
  background-color: aqua !important ;
}

.bg-coral {
  background-color: coral !important ;
}

.bg-blue {
  background-color: rgb(61, 165, 250);
}

.bg-red {
  background-color: red;
}


body {
  margin: 0;
}


input {
  color: inherit;
  font: inherit;
  margin: 0;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
